<div class="container">
  <div class="box">
    <img [ngClass]="isMale ? 'male' : 'female'"
      src="{{ picture }}" alt="user picture"
    >
    <h2>{{ firstName }} {{ lastName}}</h2>
    <p>{{ email }}</p>
    <app-button [isMale]="isMale" (btnClick)="onClick()"></app-button>
  </div>
</div>